#dlpl-wrap .w1  { width: 8.333%; }
#dlpl-wrap .w2  { width: 16.67%; }
#dlpl-wrap .w3  { width: 25%; 	 }
#dlpl-wrap .w4  { width: 33.33%; }
#dlpl-wrap .w5  { width: 41.67%; }
#dlpl-wrap .w6  { width: 50%; 	 }
#dlpl-wrap .w7  { width: 58.33%; }
#dlpl-wrap .w8  { width: 66.67%; }
#dlpl-wrap .w9  { width: 75%; 	 }
#dlpl-wrap .w10 { width: 83.33%; }
#dlpl-wrap .w11 { width: 91.67%; }
#dlpl-wrap .w12 { width: 100%; 	 }

@media only screen and (min-width: 1025px) {
	.dlpl-rm-desktop {
		display: none !important;
	}
}

@media only screen and (max-width: 1024px) {
	.dlpl-rm-mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 991px) {
	#dlpl-wrap .w1, 
	#dlpl-wrap .w2, 
	#dlpl-wrap .w3, 
	#dlpl-wrap .w4, 
	#dlpl-wrap .w5, 
	#dlpl-wrap .w6, 
	#dlpl-wrap .w7, 
	#dlpl-wrap .w8, 
	#dlpl-wrap .w9, 
	#dlpl-wrap .w10, 
	#dlpl-wrap .w11, 
	#dlpl-wrap .w12 {
		width: 100%;
	}

	#divi-preloader p, 
	#divi-preloader-preview p {
		white-space: normal !important;
	}
}

.no-scroll {
	overflow: hidden !important;
}

#divi-preloader, 
#divi-preloader-preview {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    left: 0;
    top: 0;
    background: #FFFFFF;
    display: table;
    text-align: center;
}

#divi-preloader .divi-preloader-wrap, 
#divi-preloader-preview .divi-preloader-wrap {
	display: table-cell;
	vertical-align: middle;
}

#divi-preloader img, 
#divi-preloader-preview img {
	display: block;
	margin: 5px auto;
}

#divi-preloader p, 
#divi-preloader-preview p {
	white-space: pre;
	display: block;
	font-size: 18px;
    line-height: normal;
    padding: 10px 20px;
    margin: 0;
}

#divi-preloader-preview #dlpl-preview-close {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #A2A2A2;
}

#divi-preloader-preview #dlpl-preview-close:hover {
	color: #000;
}

#dlpl-wrap .row {
	width: 100%;
	margin: 0 0 20px 0;
	display: table;
	position: relative;
}

#dlpl-wrap .fl { float: left; }
#dlpl-wrap .fr { float: right; }

#dlpl-wrap .clear { clear: both; }

#dlpl-wrap {
    padding: 10px 20px;
    margin: 10px 10px 10px 2px;
    background-color: #FFFFFF;
}

#dlpl-wrap .updated {
	margin: 0px;
}

#dlpl-wrap .custom-pages {
	padding-left: 25px;
}

#dlpl-wrap p, 
#dlpl-wrap ul, 
#dlpl-wrap li {
	margin: 0;
}

#dlpl-wrap .input-url, #dlpl-wrap textarea {
	width: 100%;
	max-width: 700px;
}

#dlpl-wrap .input-xs {
	width: 100%;
	max-width: 80px;
}

#dlpl-title {
    margin: 10px 0;
}

.dlpl-btn-primary, 
.dlpl-btn-info {
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0 0 7px 0;
	cursor: pointer;
}

.dlpl-btn-primary:hover, 
.dlpl-btn-danger:hover, 
.dlpl-btn-info:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

.dlpl-btn-primary {
	background-color: #00C3AA;
}

.dlpl-btn-info {
	background-color: #6c2eb9;
}

.dlpl-btn-sm {
	padding: 5px 10px;
	font-size: 12px;
}